.marksTable {
  display: flex;
  flex-direction: column;
}

.tableContent {
  color: black;
  padding-top: 30px;
}

.tableRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.tableCell {
  color: black;
  min-height: 40px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white; /* Цвет фона */
}

.tableCellTitle {
  color: black;
  min-height: 40px;
  font-size: small;
  padding: 2px;
  flex-basis: 200px;
  border-right: 1px solid black;
  display: flex;
  flex-grow: 1;
  background: #b0e0e6; /* Цвет фона */
}
