.material-icons {
  color: var(--header_text) !important;
}

.MuiTableSortLabel-root {
  color: var(--header_text) !important;
}

[disabled] {
  background-color: transparent;
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#tooltip {
  background: #333;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.hidden::before {
  visibility: hidden !important;
}

body[scheme="space_gray"] {
  --gears: invert(99%) sepia(1%) saturate(102%) hue-rotate(156deg)
    brightness(111%) contrast(80%);
}

.day {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
